{% extends 'admin/base.html' %}
{% load static %}
{% block branding %}
<img src="{% static 'images/final_logo.jpg' %}" id="page_logo" alt='logo' height="130" width="220"
  style="display: block; margin-left: auto; margin-right: auto;">
<!-- <img src="{% static 'images/bot_logo.jpeg' %}" alt="logo" class="brand_img" height="100" width="100" style="float:left;"> -->
<h1='head'>
  <!-- <p style="text-align: center; float:right;padding-top: 26px;"><b>Quality and Academic <br> -->
  <!-- Accreditation Chatbot -->
  <!-- </b></p> -->
</h1>
{{ block.super }}
{% endblock %}
<!-- {% block extrastyle %}
  <link rel='stylesheet' href='{% static 'css/admin.css' %}'>
{% endblock %} -->
<!-- <h1 = 'head'> -->


<!-- </h1> -->
<!-- </head> -->